@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  @apply text-gray-500;
}

@theme {
  --font-dmsans: "DM Sans", "sans-serif";
  --font-montserrat: "Montserrat", "sans-serif";

  --evolvetext: url("./assets/EvolveText.png");
  --abstractwaves: url("./assets/AbstractWaves.png");
  --sparkles: url("./assets/Sparkles.png");
  --circles: url("./assets/Circles.png");

  --color-gray-20: #f8f4eb;
  --color-gray-50: #efe6e6;
  --color-gray-100: #dfcccc;
  --color-gray-500: #5e0000;

  --color-primary-100: #fedcdb;
  --color-primary-300: #ffa6a3;
  --color-primary-500: #ff6b66;

  --color-secondary-400: #ffcd58;
  --color-secondary-500: #ffc132;

  --gradient-yellowred: linear-gradient(90deg, #ff616a 0%, #ffc837 100%);
  --mobile-home: url("./assets/HomePageGraphic.png");

  /* media queries */

  --xs: 480px;
  --sm: 768px;
  --md: 1060px;

  /* ... */
}
